@import 'variables.scss';

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: $font-family;
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}