@import 'resets.scss';
@import 'variables.scss';

.trips-section{
    padding: 4.1875rem 2rem 0rem;
    font-size: 0.875rem;
    color: $dark-grey;

    .city-img{
        width: 435px;
        height: 200px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 -5rem;
        border-radius: 25px;
        box-shadow: 0px 6px 18px 0px rgb(0 0 0 / 15%);
    }

    .trip-info{
        margin-top: 2.5rem;

        h1{
            margin-bottom: 0.4375rem;
            font-size: 1.375rem;
        }

        h3,
        .trip-dates{
            font-weight: $font-light;
            letter-spacing: 0.05rem;
        }

        .trip-dates{
            display: flex;
            flex-direction: row;
            padding-top: 0.2rem;

            #end-date{
                margin-left: 1.5rem;
                position: relative;
                
                &::before{
                    content: "";
                    display: block;
                    width: 1rem;
                    height: 1px;
                    background-color: $dark-grey;
                    position: absolute;
                    left: -10%;
                    top: 50%;
                }
            }
        }
    }

    .weather-info,
    .trip-notes{
        margin-top: 1.1875rem;
    }

    .weather-info{
        .temperature{
            padding: 0.2rem 0;

            #low{
                padding-left: 0.2rem;
            }
        }
    }

    .trip-notes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .notes{
            padding-right: 2.75rem;

            p{
                padding-top: 0.2rem;
            }
        }

        img{
            width: 2rem;
            cursor: pointer;
            transition: transform 300ms ease-in-out;

            &:hover{
                transform: scale(1.2);
            }
        }
    }
}
