@import 'resets.scss';
@import 'variables.scss';

.no-trips{
    display: block;
    text-align: center;
    padding-top: 6.625rem;

    .add-icon{
        width: 5rem;
        padding-top: 1.625rem;
        cursor: pointer;
        transition: transform 300ms ease-in-out;

        &:hover{
            transform: scale(0.8);
        }
    }
}

.no-trips.hidde{
    display: none;
}