<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="hero-section"></section>
    <section class="no-trips"></section>
    <div class="modal-form">
        <form>
            <div class="buttons">
                <a id="close-form" class="cancel">Cancel</a>
                <a id="close-form" class="save">Save</a>
            </div>

            <fieldset>
                <label id="trip-name">Trip Name</label>
                <input id="trip-name" type="text">
                <label id="trip-city">Destination City*</label>
                <input id="trip-city" type="text" required>
                <label id="trip-start-date">Start Trip Date</label>
                <input id="trip-start-date" type="date">
                <label id="trip-end-date">End Trip Date</label>
                <input id="trip-end-date" type="date">
                <label id="notes">Trip Notes</label>
                <textarea id="notes" rows="5" cols="10"></textarea>
            </fieldset>
        </form>
    </div>
    <div class="overlay"></div>
    <footer></footer>
</body>
</html>